@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Color palette
https://colors.muz.li/palette/5F26E2/312a9e/d3d0ff/a7a1ff/ffffff
*/

:root {
  font-family: 'Roboto', sans-serif;
  --blue-purple: #312a9e;
  --purple: #5f26e2;
  --light-purple: #a7a1ff;
  --lighter-purple: #d3d0ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-purple);
  background-color: #999fff;
  color: whitesmoke;
  display: flex;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}

header {
  background-color: var(--blue-purple);
  font-family: 'Poppins', sans-serif;
  height: 12vh;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.form-lyrics {
  align-content: center;
  background-color: var(--lighter-purple);
  border-radius: 0.5em;
  border: 2px solid var(--purple);
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  margin: 1em auto;
  padding: 1em;
}

form {
  display: inline-flex;
}

form input {
  border-radius: 0.5em;
  border: none;
  height: 2em;
}

form button,
form input {
  font-size: 0.8em;
}

form input:focus {
  border: 2px solid var(--purple);
  outline: none;
}

form label,
form input {
  padding: 0.5em;
}

form .artist-container,
form .title-container {
  margin-left: 1em;
  margin-right: 1em;
  align-self: center;
}

form button {
  border-radius: 0.5rem;
  border: none;
  font-family: 'Poppins', sans-serif;
  margin-left: 1em;
  padding: 0.5em 1.5em;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: var(--purple);
  font-size: 0.8em;
}

form button:focus,
form button:hover {
  outline: none;
  background-color: var(--light-purple);
  color: black;
  transition: 500ms;
}

.lyrics {
  background-color: var(--lighter-purple);

  border-radius: 0.5em;
  color: black;
  height: auto;
  margin: 1em auto;
  padding: 1em;
}

main {
  padding: 5em;
  width: 100vw;
}

footer {
  background-color: var(--blue-purple);
  bottom: 0;
  font-family: 'Poppins' sans-serif;
  padding: 1em;
  position: absolute;
  width: 100%;
}

footer a i {
  height: 25px;
  margin: 10px 10px 0px 10px;
  width: 25px;
  font-size: 1.5em;
  color: whitesmoke;
}

footer a {
  text-decoration: none;
}

@media (max-width: 300px) {
  body {
    background-color: var(--light-purple);
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
  }

  .lyrics {
    box-sizing: border-box;
    justify-content: center;
    margin: 0;
    width: 100vw;
  }
}
@media (max-width: 700px) {
  .lyrics {
    box-sizing: border-box;
    justify-content: center;
  }

  body {
    background-color: var(--light-purple);
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 500px) {
}
