@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Color palette: https://colors.muz.li/palette/5F26E2/312a9e/d3d0ff/a7a1ff/ffffff */

:root {
  font-family: 'Roboto', sans-serif;
  --blue-purple: #312a9e;
  --purple: #5f26e2;
  --light-purple: #a7a1ff;
  --lighter-purple: #d3d0ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-purple);
  background-color: #999fff;
  color: whitesmoke;
  display: flex;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
}

header {
  background-color: var(--blue-purple);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

header,
form button,
footer {
  font-family: 'Poppins', sans-serif;
}

form {
  display: inline-flex;
  align-content: center;
  background-color: var(--lighter-purple);
  border-radius: 0.5rem;
  border: 2px solid var(--purple);
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

form input {
  border-radius: 0.5rem;
  border: 2px solid var(--light-purple);
  height: 2rem;
}

form button,
form input {
  font-size: 0.8rem;
}

form input:focus {
  border: 2px solid var(--purple);
  outline: none;
}

form label,
form input {
  padding: 0.3rem;
}

form button,
form .artist-container,
form .title-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-self: center;
}

form button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  background-color: var(--purple);
}

form button i {
  margin-left: 1em;
  vertical-align: middle;
}

form button:focus,
form button:hover {
  outline: none;
  background-color: var(--light-purple);
  color: black;
  transition: 500ms;
}

.lyrics {
  background-color: var(--lighter-purple);
  display: none;
  border-radius: 0.5rem;
  color: black;
  height: auto;
  margin: 1rem auto;
  padding: 1rem;
  justify-content: center;
}

main {
  padding: 5rem;
  width: 100vw;
  height: 100vh;
}

footer {
  background-color: var(--blue-purple);
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
}

footer a i {
  height: 25px;
  margin: 10px 10px 0px 10px;
  width: 25px;
  font-size: 1.5rem;
  color: whitesmoke;
}

footer a {
  text-decoration: none;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1rem;
  height: 4rem;
}
.loader {
  color: #ffffff;
  text-indent: -9999rem;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5rem;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5rem;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4rem;
  }
  40% {
    box-shadow: 0 -2rem;
    height: 5rem;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4rem;
  }
  40% {
    box-shadow: 0 -2rem;
    height: 5rem;
  }
}

@media (max-width: 924px) {
  form {
    /* display: block; */
  }
  form button {
    vertical-align: middle;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 300px) {
}
